<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>家</string>
		<key>filename</key>
		<string>1201111234.mp3</string>
		<key>lrcname</key>
		<string>月半小夜曲.lrc</string>
		<key>singer</key>
		<string>罗大佑</string>
		<key>singerIcon</key>
		<string>lkq_icon.jpg</string>
		<key>icon</key>
		<string>lkq.jpg</string>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/203101494.m4a?fromtag=46</string>
	</dict>
	<dict>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/440814.m4a?fromtag=46</string>
		<key>name</key>
		<string>远走高飞</string>
		<key>filename</key>
		<string>120125029.mp3</string>
		<key>lrcname</key>
		<string>120125029.lrc</string>
		<key>singer</key>
		<string>张杰</string>
		<key>singerIcon</key>
		<string>kzxd_icon.jpg</string>
		<key>icon</key>
		<string>kzxd.jpg</string>
	</dict>
	<dict>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/105108684.m4a?fromtag=46</string>
		<key>name</key>
		<string>Up</string>
		<key>filename</key>
		<string>14945107.mp3</string>
		<key>lrcname</key>
		<string>14945107.lrc</string>
		<key>singer</key>
		<string>Coldplay</string>
		<key>singerIcon</key>
		<string>dzq_icon.jpg</string>
		<key>icon</key>
		<string>dzq.jpg</string>
	</dict>
	<dict>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/203374423.m4a?fromtag=4</string>
		<key>name</key>
		<string>One-Half</string>
		<key>filename</key>
		<string>12309111.mp3</string>
		<key>lrcname</key>
		<string>12309111.lrc</string>
		<key>singer</key>
		<string>GFRIEND</string>
		<key>singerIcon</key>
		<string>bb_icon.jpg</string>
		<key>icon</key>
		<string>bb.jpg</string>
	</dict>
	<dict>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/202985085.m4a?fromtag=46</string>
		<key>name</key>
		<string>动物世界</string>
		<key>filename</key>
		<string>10405520.mp3</string>
		<key>lrcname</key>
		<string>10405520.lrc</string>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>wf_icon.jpg</string>
		<key>icon</key>
		<string>wf.jpg</string>
	</dict>
	<dict>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/108986243.m4a?fromtag=46</string>
		<key>name</key>
		<string>勉为其难</string>
		<key>filename</key>
		<string>10736444.mp3</string>
		<key>lrcname</key>
		<string>10736444.lrc</string>
		<key>singer</key>
		<string>王冕</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/102636799.m4a?fromtag=46</string>
		<key>name</key>
		<string>演员</string>
		<key>filename</key>
		<string>255319.mp3</string>
		<key>lrcname</key>
		<string>255319.lrc</string>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>nanquan_icon.jpg</string>
		<key>icon</key>
		<string>nanquan.jpg</string>
	</dict>
	<dict>
		<key>musicUrl</key>
		<string>http://ws.stream.qqmusic.qq.com/106018537.m4a?fromtag=46</string>
		<key>name</key>
		<string>是我不够好</string>
		<key>filename</key>
		<string>235319.mp3</string>
		<key>lrcname</key>
		<string>235319.lrc</string>
		<key>singer</key>
		<string>李毓芬</string>
		<key>singerIcon</key>
		<string>zxy_icon.jpg</string>
		<key>icon</key>
		<string>zxy.jpg</string>
	</dict>
</array>
</plist>
